<section class="banner-section">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<img class="main-logo" src="static/images/logo_full_white.png" />
					<div class="title-separator" style="background-color: white"></div>
					<h2>
						{{lang.title}}
					</h2>
					<h4>
						<i class="fa fa-star" style="color: #ffdd00"></i>
						{{lang.subTitle}}
					</h4>
					<div class="title-separator" style="background-color: white"></div>
					<div>
						<button class="btn btn-lang" ng-click="loadEnglish()" ng-hide="langOption === 'en'">
							View in English
						</button>
						<button class="btn btn-lang" ng-click="loadSpanish()" ng-hide="langOption === 'es'">
							<i class="fa fa-language"></i>
							Ver en Español
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="common-section">
	<div class="container">
		<div class="row pad-bt-20">
			<div class="col-sm-12 text-center">
				<h2>{{lang.services.title}}</h2>
				<div class="title-separator"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 text-center pad-bt-20">
				<div class="round-box" style="background-color:#ff5f83">
					<i class="fa fa-2x fa-wifi"></i>
				</div>
				<h4>{{lang.services.wireless.title}}</h4>
				<span>{{lang.services.wireless.content}}</span>
			</div>
			<div class="col-sm-3 text-center pad-bt-20">
				<div class="round-box" style="background-color:#06ca75">
					<i class="fa fa-2x fa-video-camera"></i>
				</div>
				<h4>{{lang.services.cameras.title}}</h4>
				<span>{{lang.services.cameras.content}}</span>
			</div>
			<div class="col-sm-3 text-center pad-bt-20">
				<div class="round-box" style="background-color:#26547c">
					<i class="fa fa-2x fa-flash"></i>
				</div>
				<h4>{{lang.services.fiber.title}}</h4>
				<span>{{lang.services.fiber.content}}</span>
			</div>
			<div class="col-sm-3 text-center pad-bt-20">
				<div class="round-box" style="background-color:#ff8821">
					<i class="fa fa-2x fa-html5"></i>
				</div>
				<h4>{{lang.services.telephony.title}}</h4>
				<span>{{lang.services.telephony.content}}</span>
			</div>
		</div>
	</div>
</section>
<section class="common-section odd-section-background">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h2>
							<i class="fa fa-map-marker" style="color: #26547c;"></i>
							{{lang.citiesAvailable.title}}
						</h2>
						<div class="title-separator"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<ul>
							<li>Peninsula Puerto Cortés</li>
							<li>Barrio Pueblo Nuevo</li>
							<li>Barrio Travesía</li>
							<li>Cienaguita</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul>
							<li>Colonia Brisas del Mar</li>
							<li>Tulian Río</li>
							<li>Los Manzanos</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-12 contact-info">
						<div class="col-sm-12">
							<h4 class="uppercase">
								<i class="fa fa-address-card-o" style="color: #26547c;"></i>
								{{lang.contact.address.title}}
							</h4>
							<span>
								{{lang.contact.address.primary}}<br />
								{{lang.contact.address.secondary}}
							</span>
						</div>
						<div class="col-sm-12">
							<h4 class="uppercase">
								<i class="fa fa-phone" style="color: #26547c;"></i>
								{{lang.contact.phones.title}}
							</h4>
							<span>
								####-####
							</span>
						</div>
						<div class="col-sm-12">
							<h4 class="uppercase">
								<i class="fa fa-envelope" style="color: #26547c;"></i>
								{{lang.contact.email.title}}
							</h4>
							<span>abemarhn@gmail.com</span>
						</div>
						<div class="col-sm-12">
							<h4 class="uppercase">
								<i class="fa fa-clock-o" style="color: #26547c;"></i>
								{{lang.contact.schedule.title}}
							</h4>
							<span>8 A.M. - 5 P.M.</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="footer-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center copyright">
				{{lang.copyright}}
			</div>
		</div>
	</div>
</section>
