<section>
	<!--
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" ng-click="topBar.isCollapsed = !topBar.isCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse" uib-collapse="topBar.isCollapsed">
				<ul class="nav navbar-nav">
					<li>Home</li>
					<li>About</li>
					<li>Services</li>
					<li>Contact us</li>
				</ul>
			</div>
		</div>
	</nav>
	-->
	<section class="main-content">
		<ui-view></ui-view>
	</section>
</section>
